.slick-slider
	.slick-slide
		outline none !important
	.slick-arrow
		z-index 1
		&.slick-disabled
			display none!important
		&.slick-next, &.slick-prev
			background $gold
			width 70px
			height 70px
			border-radius 50%
			text-align center
			top 40%
			&:before
				content ""
				width 0
				height 0
				border-top 10px solid transparent
				border-left 20px solid $white
				border-bottom 10px solid transparent
				display inline-block
				vertical-align middle
				opacity 1
			&:hover
				&:before
					opacity 0.7
					
		&.slick-next
			&:before
				margin-left 5px
									
		&.slick-prev
			&:before
				margin-left -5px
				transform rotate(-180deg)	

	&.slick-dotted
		margin-bottom 0
		
	.slick-dots
		li
			width 7px
			margin 0 7px
			button
				&:before
					content ''
					width 9px
					height 9px
					border-radius 50%
					background $blue
					opacity 1
			&.slick-active
				button
					&:before
						background $gold

.carousel-container
	&.mini
		.slick-arrow
			width 50px
			height 50px
			&:before
				border-top-width 8px
				border-left-width 16px
				border-bottom-width 8px
			&.slick-next
				&:before
					margin-left 5px			
