@font-face {
    font-family 'notosans-regular'
    src local('../fonts/NotoSans'),
        url('../fonts/NotoSans.woff2') format('woff2'),
        url('../fonts/NotoSans.woff') format('woff')
    font-weight 300
    font-style normal
}

@font-face {
    font-family 'notosans-bold'
    src local('../fonts/NotoSans-Bold'),
        url('../fonts/NotoSans-Bold.woff2') format('woff2'),
        url('../fonts/NotoSans-Bold.woff') format('woff')
    font-weight 300
    font-style normal
}

